                /* Use your own code or past solution for Great Idea Web Page CSS here! */
                /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
                
                html,
                body,
                div,
                span,
                applet,
                object,
                iframe,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                blockquote,
                pre,
                a,
                abbr,
                acronym,
                address,
                big,
                cite,
                code,
                del,
                dfn,
                em,
                img,
                ins,
                kbd,
                q,
                s,
                samp,
                small,
                strike,
                strong,
                sub,
                sup,
                tt,
                var,
                b,
                u,
                i,
                center,
                dl,
                dt,
                dd,
                ol,
                ul,
                li,
                fieldset,
                form,
                label,
                legend,
                table,
                caption,
                tbody,
                tfoot,
                thead,
                tr,
                th,
                td,
                article,
                aside,
                canvas,
                details,
                embed,
                figure,
                figcaption,
                footer,
                header,
                hgroup,
                menu,
                nav,
                output,
                ruby,
                section,
                summary,
                time,
                mark,
                audio,
                video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                /* HTML5 display-role reset for older browsers */
                
                article,
                aside,
                details,
                figcaption,
                figure,
                footer,
                header,
                hgroup,
                menu,
                nav,
                section {
                    display: block;
                }
                
                body {
                    line-height: 1;
                }
                
                ol,
                ul {
                    list-style: none;
                }
                
                blockquote,
                q {
                    quotes: none;
                }
                
                blockquote:before,
                blockquote:after,
                q:before,
                q:after {
                    content: '';
                    content: none;
                }
                
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }
                /* Set every element's box-sizing to border-box */
                
                * {
                    box-sizing: border-box;
                }
                
                html,
                body {
                    height: 100%;
                    font-family: 'Titillium Web', sans-serif;
                }
                
                h1,
                h2,
                h3,
                h4,
                h5 {
                    font-family: 'Bangers', cursive;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                /* Copy and paste your work from yesterday here and start to refactor into flexbox */
                
                .logo {
                    width: 30%;
                    margin: 0 auto;
                }
                
                .start {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    margin: 0 auto;
                }
                
                .start8 {
                    width: 60%;
                    margin: 0 auto;
                }
                
                .services-header-img {
                    margin: 30px auto
                }
                
                .intro {
                    display: flex;
                    justify-content: space-around;
                    width: 65%;
                    justify-content: center;
                    margin: 0 auto 5% auto;
                }
                
                h1 {
                    font-size: 75px;
                }
                
                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 65%;
                    margin: 0 auto 1% auto;
                }
                
                .middle-img {
                    min-width: 65%;
                }
                
                .footer {
                    display: flex;
                }
                
                .info3 {
                    display: column;
                }
                
                a {
                    flex-direction: column;
                }
                
                .copyright {
                    display: flex;
                    justify-content: center;
                }
                
                .copy {
                    display: flex;
                }
                
                .main2 {
                    justify-content: space-between;
                    display: flex;
                    width: 60%;
                    margin: 20px auto;
                }
                
                .main {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto 60px auto;
                    width: 85%;
                }
                
                .div6 {
                    margin: 100px 0;
                }
                
                nav {
                    display: flex;
                    justify-content: space-around;
                    width: 50%;
                    margin: 10px 0 15px 0;
                }
                
                p {
                    margin: 3px 6 3px 6px;
                }
                
                .next {
                    display: column;
                    justify-content: center;
                    width: 60%;
                    margin: 0 auto;
                }
                
                .ending {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    justify-content: space-around;
                    margin: 65px auto 65px auto;
                    width: 64%;
                }
                
                .features1 {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .sales {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .ios {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .img {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .stack {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .cell {
                    width: 46%;
                    border: 1px solid black;
                    padding: 20px;
                }
                
                .our {
                    margin: 25px;
                }
                
                ol {
                    margin: 0 25px 0 25px 0;
                }
                
                .finished {
                    display: flex;
                    justify-content: space-evenly;
                    width: 70%;
                    margin: 0 auto;
                }
                
                .last {
                    width: 40%;
                }
                
                .services-info-img {
                    width: 99%;
                }
                
                .introserv1 {
                    display: flex;
                    justify-content: space-around;
                    width: 70%;
                    margin: 10px 0 15px 0;
                }
                
                .logo {
                    width: 70%;
                }
                
                .about {
                    width: 100%;
                }
                
                .div3 {
                    display: flex;
                    justify-content: center;
                }
                
                .features {
                    width: 50%;
                }
                
                .about {
                    width: 50%;
                }
                
                .p1p {
                    width: 100%;
                }
                
                .p1p2 {
                    width: 100%;
                }
                
                .info2 {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px auto 100px auto;
                    justify-content: space around;
                    width: 66%;
                }
                
                .p3 {
                    width: 315px;
                }
                
                .copy a {
                    display: flex;
                    flex-direction: center;
                    margin: 35px auto 28px auto;
                }
                
                @media (max-width: 800px) {
                    .gone {
                        display: none;
                    }
                    .main {
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: space-around;
                    }
                    .introserv1 {
                        width: 100%;
                    }
                    .logo {
                        width: 20%;
                        display: flex;
                        justify-content: center;
                    }
                    h1 {
                        display: flex;
                        align-content: center;
                    }
                    .features {
                        width: 70%
                    }
                    .about {
                        width: 70%
                    }
                    button {
                        width: 70%;
                        padding: 3%;
                        margin: 0 0 8% 0;
                    }
                    .info {
                        width: 90%;
                        margin: 10% auto 1% auto;
                    }
                    .middle-img {
                        width: 90%;
                        margin: 0 auto;
                    }
                    .info2 {
                        width: 90%;
                    }
                    .info2 div {
                        width: 30%;
                    }
                    .footer {
                        display: flex;
                        flex-direction: column;
                        margin: 0 0 0 4%;
                    }
                    /*  .product {
width: 60%
}
.vision {
width: 60%;
}*/
                    .p3 {
                        width: 90%;
                    }
                }
                
                @media (max-width: 500px) {
                    .gone {
                        display: none;
                    }
                    .main {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        width: 100%;
                    }
                    .introserv1 {
                        width: 100%;
                    }
                    button {
                        width: 70%;
                        padding: 5%;
                        margin: 0 0 20% 0;
                    }
                    .introserv1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 5% auto 5% auto;
                    }
                    a {
                        margin: 5% 0;
                    }
                    .logo {
                        width: 100%;
                    }
                    .info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                    .features {
                        width: 85%;
                        margin: 0 auto 0 auto;
                    }
                    .about {
                        width: 85%;
                        margin: 5% auto 5% auto;
                    }
                    .middle-img {
                        width: 85%;
                        margin: 0 0 5% 0;
                    }
                    .info2 {
                        width: 85%;
                        display: flex;
                    }
                    .info2 div {
                        width: 30%;
                    }
                    .p3 {
                        width: 100%;
                        margin: 0 0 5% 0;
                    }
                    .thrid {
                        margin: 5% 0;
                    }
                    .footer {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 0 0 8%;
                    }
                    .p50 {
                        display: flex;
                        align-items: flex-start;
                    }
                    .info3 {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        align-items: flex-start
                    }
                    nav a {
                        text-decoration: none;
                        color: lightgray;
                    }
                }